polygon {
    stroke: var(--ssd-seperator-stroke);
    stroke-width: var(--ssd-seperator-width);
    
    &.filled {
        fill: var(--ssd-segment-fill);
    }

    &:not(.filled) {
        fill: none;
    }
}